<!-- Begin Tickets 2 Section -->
<section id="tickets" class="tickets-2">
	<div class="content-wrapper">
		<div class="col-lg-8 col-md-10 col-lg-offset-2 col-md-offset-1">
			<h3>{{ site.data.[site.lang].workshops.about.info }}</h3>
			<div class="tickets-table row ">
			{% assign animationDelay = 0 %}
            {% for ticketsOffer in site.data.[site.lang].workshops.about.rows %}
	            <div class="tickets-row">
	            	<div class="row">
						<div class="col-sm-6 col-xs-12">
							<p class="title">{{ ticketsOffer.title }}</p>
							{% if ticketsOffer.disabled != true %}
							{% assign ticketValidTo = ticketsOffer.validThrough | split: "T" %}
								<span class="ticket-additional-info">

									{% for speaker in site.data.[site.lang].speakers.speakers-data %}
																	{% if ticketsOffer.speakerId == speaker.id %}
																			By <span class="speaker-name">
																					<strong>{{ speaker.name }} {{ speaker.surname }}</strong>
																					<span class="speaker-position">({{ speaker.company }})</span>
																			</span>
																	{% endif %}
															{% endfor %} |

															{{ ticketsOffer.date | date: "%B %-d" }}, {{ ticketsOffer.startTime }} &mdash; {{ ticketsOffer.endTime }}

								</span>
								{% if ticketsOffer.id != null %}
									<span class="ticket-additional-info"><a href="/workshops/#{{ ticketsOffer.id }}">More details</a></span>
								{% endif %}
							{% endif %}
						</div>
						<div class="col-sm-3 col-xs-12">
							<p class="price">{{ ticketsOffer.price }}</p>
						</div>
						<div class="col-sm-3 col-xs-12">
							{% if ticketsOffer.soldOut == true %}
							<p class="ticket-sold-out">{{ ticketsOffer.soldOutText }}</p>
							{% elsif ticketsOffer.disabled != true %}
							<span class="bordered dark-border button">
								<a href="{{ ticketsOffer.salesLink }}" class="waves-effect waves-button" target="_blank">{{ ticketsOffer.buyButtonText }}</a>
							</span>
							{% else %}
		           			{% assign ticketValidFrom = ticketsOffer.validFrom | split: "T" %}
							<p class="ticket-fallback">{{ ticketsOffer.fallback }}</p>
							{% endif %}
						</div>
					</div>
				</div>
			{% assign animationDelay = animationDelay | plus:250 %}
            {% endfor %}
            </div>
		</div>
	</div>
</section>
<!-- End Tickets 2 Section -->
