<!-- Event metadata, readable by search engines, share on websites etc. -->
<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Event",
  "name": "Mobile Era Conference",
  "url": "http://mobileera.rocks",
  "startDate": "2016-11-03T08:00",
  "endDate": "2016-11-04T18:00",
  "description": "The Mobile Era Conference is Norway's first dedicated conference covering mobile technologies. Bringing in international speakers to Oslo .",
  "location": {
    "@type": "Place",
    "name": "Gamle Museet, Oslo",
    "url": "http://www.gamlemuseet.no",
    "address": {
      "@type": "PostalAddress",
      "addressLocality": "Oslo",
      "addressRegion": "Oslo"
      "postalCode": "0152",
      "streetAddress": "Dronningens Gate 4"
    },
  }
}
</script>