<!-- Begin Partners Section -->
<section id="partners" class="partners">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>{{ site.data.[site.lang].index.partners.title }}</h3>
            {% for partner in site.data.[site.lang].index.partners-data.sponsors %}
            {% if partner.title != "" %}<h5>{{ partner.title }}</h5>{% endif %}
            <ul class="list-inline sponsors">
                {% for element in partner.elements %}
                <li {% if element.width != null %}style="width: {{ element.width }};"{% endif %}>
                    <a href="{{ element.link }}" target="_blank">
                        <img src="{{ site.baseurl_root }}/img/partners/{{ element.imageUrl }}" title="{{ element.description }}" alt="{{ element.name }}">
                    </a>
                </li>
                {% endfor %}
            </ul><br />
            {% endfor %}

            {% for partner in site.data.[site.lang].index.partners-data.companions %}
            {% if partner.title != "" %}<h5>{{ partner.title }}</h5>{% endif %}
            <ul class="list-inline companions">
                {% for element in partner.elements %}
                <li {% if element.width != null %}style="width: {{ element.width }};"{% endif %}>
                    <a href="{{ element.link }}" target="_blank">
                        <img src="{{ site.baseurl_root }}/img/partners/{{ element.imageUrl }}" title="{{ element.description }}" alt="{{ element.name }}" style="max-width: 150px">
                    </a>
                </li>
                {% endfor %}
            </ul>
            {% endfor %}

            <a href="{{ site.data.[site.lang].index.partners.c4sponsorsUrl | prepend: site.baseurl }}" class="btn btn-primary waves-effect waves-button waves-light waves-float">{{ site.data.[site.lang].index.partners.c4sponsorsButton }}</a>
        </div>
    </div>
</section>
<!-- End Partners Section -->
