.speakers {
  .badge {
    background-color: orange;
    border-radius: 3px;
    position: absolute;
    top: 5px;
    left: 10px;
    font-size: 18px;
    color: #fff;
    padding: 1px 6px 2px 6px;
    font-weight: $bold;
  }
}
