<script id="mobile-era-event-metadata" type="application/ld+json">
    [{
        "@context" : "http://schema.org",
        "@type" : "Event",
        "name" : "{{ site.data.[site.lang].general.basic.title }}",
        "description": "{{ site.data.[site.lang].general.basic.description }}",
        "image" : "{{ site.data.[site.lang].general.basic.socialImageSrcGooglePlus | prepend: site.baseurl | prepend: site.url }}",
        "url" : "{{ site.url }}",
        "startDate" : "{{ site.data.[site.lang].index.location-map.startTime }}",
        "doorTime" : "{{ site.data.[site.lang].index.location-map.dorTime }}",
        "endDate" : "{{ site.data.[site.lang].index.location-map.endTime }}",
        "location" : {
            "@type" : "Place",
            "name" : "{{ site.data.[site.lang].index.location-map.name }}",
            "sameAs" : "{{ site.data.[site.lang].index.location-map.link }}",
            "address" : {
                "@type" : "PostalAddress",
                "streetAddress" : "{{ site.data.[site.lang].index.location-map.streetAddress }}",
                "addressLocality" : "{{ site.data.[site.lang].index.location-map.addressLocality }}",
                "addressRegion" : "{{ site.data.[site.lang].index.location-map.addressLocalityRegion }}",
                "postalCode" : "{{ site.data.[site.lang].index.location-map.postalCode }}",
                "addressCountry" : "{{ site.data.[site.lang].index.location-map.addressCountry }}"
            },
            "geo" : {
                "@type" : "GeoCoordinates",
                {% assign coordinates = site.data.[site.lang].index.location-map.placeCoordinates | split:"," %}
                "latitude" : "{{ coordinates[0] }}",
                "longitude" : "{{ coordinates[1] }}"
            }
        },
        
        "offers" : [
        {% for ticketsOffer in site.data.[site.lang].index.tickets.ticketsOffers %}
        {
            "@type" : "Offer",
            "name" : "{{ ticketsOffer.name }}",
            "url" : "{{ ticketsOffer.buyButtonLink }}",
            "price" : "{{ ticketsOffer.price }}",
            "priceCurrency" : "{{ ticketsOffer.priceCurrency }}",
            "validFrom" : "{{ ticketsOffer.validFrom }}",
            "validThrough" : "{{ ticketsOffer.validThrough }}"
        }{% if forloop.index != forloop.length %},{% endif %}
        {% endfor %} 
        ],
        "performer" : [ 
        {% for speaker in site.data.[site.lang].speakers.speakers-data %}
        {
            "@type" : "Person",
            "@id": {{ speaker.id }},
            "name" : "{{ speaker.name }} {{ speaker.surname }}",
            "image" : "{{ site.url | append: site.baseurl | append: '/img/people/' | append: speaker.thumbnailUrl }}",
            "description": "{{ speaker.bio | strip_html | replace: '"', '\\"' }}",
            "jobTitle" : "{{ speaker.title }}",
            "worksFor" : {
                "@type" : "Organization",
                "name" : "{{ speaker.company }}"
            },
            "sameAs" : "{{ speaker.social[0].link }}"
        }{% if forloop.index != forloop.length %},{% endif %}
        {% endfor %}  
        ],
        "session" : [ 
        {% for day in site.data.[site.lang].schedule.schedule-data %}
            {% for timeslot in day.timeslots %}
                {% for slot in timeslot.sessionIds %}
                    {% assign slotIndex = forloop.index0 %}
                    {% if slot != 404 %}
                        {% for session in site.data.[site.lang].schedule.sessions-data %}
                            {% if slot == session.id and session.service == null %}
                                {% assign hadSession = true %}
                                {
                                    "@type": "SessionEvent",
                                    "id": {{ session.id }},
                                    "name": "{{ session.title | strip_html | replace: '"', '\\"' }}",
                                    "description": "{{ session.description | strip_html | replace: '"', '\\"' }}",
                                    "category": "{{ session.category }}",
                                    "startDate": "{{ day.date }}T{{ timeslot.startTime }}",
                                    "endDate": "{{ day.date }}T{{ timeslot.endTime }}",
                                    "room": "{{ day.tracks[slotIndex].title }}",
                                    {% if session.lightning %}
                                    "lightning": true,
                                    {% endif %}
                                    "speakers": [
                                    {% for speaker in site.data.[site.lang].speakers.speakers-data %}
                                        {% for session_speaker in session.speakers %}
                                            {% if session_speaker == speaker.id %}
                                            {
                                                "@type": "Person",
                                                "id": {{ speaker.id }},
                                                "name": "{{speaker.name }} {{speaker.surname }}"
                                            }{% if forloop.index != forloop.length %},{% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                    ]
                                },
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endfor %}
        null],
        "eventStatus" : "EventScheduled",
        "typicalAgeRange" : "16+"
    }]
    </script>